.check-box-list-container.multi-column-display > div.error-border {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: var(--checkboxlist-minimum-height, 3.4rem);
}
html {
    min-height: 100%;
    font-size: 62.5%;
}